modules = ["web"]
run = " "

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", " "]

[workflows]
runButton = "Live Server"

[[workflows.workflow]]
name = "Watch SASS"
author = 46986662
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "sass --watch style.scss:style.css"

[[workflows.workflow]]
name = "Live Server"
author = 46986662
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 5000"

[agent]
expertMode = true
